@font-face {
    font-family: "SF Pro Display Thin Italic";
    font-weight: 400;
    src: url("/fonts/BienvenuEnSicile/SFPRODISPLAYULTRALIGHTITALIC.OTF");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 400;
    src: url("/fonts/Autres/SFPRODISPLAYMEDIUM.OTF");
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin: 0;
    place-items: center;
}

body {
    background-color: #e9e9e9;
}

::-webkit-scrollbar {
    display: none;
}

.SicilyImage {
    margin-top: 35px;
    height: 682px;
    width: 1920px;
    margin-left: -10px;
    background-image: url(/img/SicilyCropped.png);
    background-repeat: no-repeat;


}




.navbar {
    background: #305F72;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1850px) / 2);

    overflow: hidden;

    position: fixed;
    top: 0;
    width: 100%;

}

.NavLink {
    color: #c1eafb;
    font-family: "SF Pro Display";
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.NavBtn {
    color: #c1eafb;
    font-family: "SF Pro Display";
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}


.LogoLink {
    color: #F1D1B5;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0rem;
    height: 100%;
    font-size: 20px;
    font-family: "SF Pro Display";
}

button {
    border-radius: 10px;
    background: #256ce1;
    padding: 10px 22px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-family: "SF Pro Display";
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button:hover {
    color: rgb(0, 0, 0);
    background: #ffffff;
}

button:active {
    letter-spacing: 2px;
}

/*
Main
*/


img {
    border-style: none
}

img {
    vertical-align: middle
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

html {
    scroll-behavior: smooth;
}

/* Pour faire en sorte que le contenu reste au centre */

/* Responsive  */
.parent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 2000px;
    margin: auto;

}

.div1 {
    grid-area: 1 / 2 / 6 / 3;
    max-width: 1900px;
    margin: auto;
}

/* Fin  Responsive  */

/* Ligne  */
.BestDest {
    display: block;
    font-family: "SF Pro Display";
    color: #5168FF;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 40px;
}

.ResaLine {

    background-color: #305F72;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    height: 100px;
    border-radius: 18px;
    box-shadow: 0 0 2em rgba(10, 10, 10, 0.712);


}

/* Fin  Ligne  */



/* Reservation Menu  */

.container-Resa-Menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px 12px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        ". . . . . . . . . ."
        ". PortD PortA . DateD DateA Adulte Enfant Recherche ."
        ". . . . . . . . . .";
    margin-left: 26%;


}

.PortD {
    grid-area: PortD;
}

.PortA {
    grid-area: PortA;
}

.DateD {
    grid-area: DateD;
}

.DateA {
    grid-area: DateA;
}

.Adulte {
    grid-area: Adulte;
}

.Enfant {
    grid-area: Enfant;
}

.Recherche {
    grid-area: Recherche;
}

.RechercheBtn {
    background-color:#F18C8E;

}

.AE_Select{
    color: rgba(255, 255, 255, 0.909);
    font-family: "SF Pro Display";
    position: absolute;
    margin-top: -20px;
    font-size: 15px;
    letter-spacing: 0px;
}


/* Fin  Reservation Menu  */



/* Card */
.container {
    max-width: 80vw;
    display: grid;
    margin-top: -2px;
    margin-left: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 40px 0;
    grid-gap: 100px;
}


.card1 {
    width: 310px;
    height: 402px;
    margin: 0 auto;
    background: url('/img/card Destination/Parlerme.png');
    background-position: center;
    background-position-y: 1px;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card2 {
    width: 310px;
    height: 402px;
    margin: 0 auto;
    background: url('/img/card Destination/CEFALU.png');
    background-position: center;
    background-position-y: 0px;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card3 {

    width: 310px;
    height: 402px;
    margin: 0 auto;
    background: url('/img/card Destination/SYRACUSE.png');
    background-position: center;
    background-position-y: 0px;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.card4 {

    width: 310px;
    height: 402px;
    margin: 0 auto;
    background: url('/img/card\ Destination/TAORMINA.png');
    background-position: center;
    background-position-y: 0px;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}


a:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

/* Fin Card */


form{
    display:flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;
    margin-left: 24px;
    padding: 10px;
    font-size: 16px;
}

.form2{
    height: 35px;
}